@use 'variables' as v;
@use "sass:color";

@mixin phone {
    @media (min-width: v.$phone){
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columns: 1, $gap: 5rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin odd-bg($color, $lightness: 0%) {
  li:nth-child(odd) {
    background-color: color.adjust($color: $color, $lightness: $lightness);
  }
}