@use '../base/variables' as v;
@use '../base/mixins' as m;

.about{
    @include m.tablet {
        @include m.grid(2);
    }
    
}

.about__content {

    h2 {
        margin: 0;
        padding-top: 4rem;
    }

    .about__Subtitle {
        color: v.$green;
        font-weight: 700;
        font-size: 2.4rem;
    }
}