@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    background-color: v.$pink;
    font-size: large;
    padding: 2rem;
    
    p {
        margin: 0;
        color: v.$white;
        text-align: center;
        text-transform: capitalize;
    }
}