@use '../base/variables' as v;
@use '../base/mixins' as m;
@use "sass:color";

.content-gallery {

    @include m.grid(1, 2rem);

    @include m.phone{
        @include m.grid(2, 2rem);

    }
    
    @include m.tablet {
        @include m.grid(3, 2rem);

        img:last-child {
            grid-column: 2 / 3;
        }
    }

    @include m.desktop {
        @include m.grid(4, 2rem);
        img:last-child {
            grid-column: auto;
        }
    }

    img {
        height: 20rem;
        object-fit: cover;
    }

}