@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    background-color: v.$green;

    .content-header {
        padding: 2rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    h1 {
        text-align: center;
        color: v.$white;
        @include m.tablet {
            margin: 0;
            text-align: left;
        }
    }

    @include m.tablet {

        &.fixed {
            position: fixed;
            right: 0;
            left: 0;
            box-shadow: .1rem .2rem .3rem #333;

            animation: slideDown ease-in-out 0.5s;
        }
    }
}

.main-nav {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    
    @include m.tablet{
        flex-direction: row;
    }

    @include m.desktop {
        gap: 4rem;
    }

    a {
        color: v.$white;
        font-size: 2.4rem;
        font-weight: 600;

        &:hover {
            color: v.$yellow;
        }
    }
}

@keyframes slideDown {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0);
  }
}