@use '../base/variables' as v;
@use '../base/mixins' as m;
@use "sass:color";

.hero {

    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;

    .overlay{
        position: absolute;
        inset: 0;
        
        background-color: color.change(v.$purple, $alpha: 0.6);

        display: flex;
        align-items: center;
    }

    video {
        display: block;
        width: auto;

        @include m.desktop {
            width: 100%;
        }
    }
}

.hero__content {

    z-index: 2;
    h2 {
        color: v.$white;
        font-size: 7rem;
        margin: 0;
    }

    p {
        color: v.$white;
        background-color: v.$pink;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 2.4rem;
        font-weight: 700;
    }
}