@use '../base/variables' as v;
@use '../base/mixins' as m;
@use "sass:color";

.container-tickets {
    background-color: v.$green;
    
    h3 {
        color: v.$white;
    }

    .tickets {
        @include m.container;
        @include m.tablet {
            @include m.grid(2);
        }
    }
}

.pase {

    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
    &-name {
        color: v.$white;
        text-align: center;
        font-weight: 800;
        font-size: 3.6rem;
    }

    &-title {
        background-color: v.$pink;
        text-align: center;
        padding: 1rem 0;
        p {
            color: v.$white;
            font-size: 3rem;
            text-transform: uppercase;
            margin: 0;
        }
    }

    &-body {
        background-color: v.$white;

        ul {
            @include m.reset-list;
            
            li {
                padding: 2rem;
                font-size: 2.4rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }

    &-footer {

        background-color: v.$white;
        padding: 3rem;

        p {
            background-color: v.$purple;
            color: v.$white;
            font-size: 3rem;
            font-weight: 900;
            text-align: center;
            border-radius: 1rem;
            padding: 1rem;
            margin: 0;

            &:hover {
                background-color: color.adjust($color: v.$purple, $lightness: -10%);
            }
        }
    }
}